footer {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #20B2AA;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.footer-text {
    font-weight: 100;
    text-align: center;
    color: #FFF;
}
